/*Banner Section*/
.banner-section {
    position: relative;
    padding: 277px 0 150px;
    overflow: hidden;
    @extend %flex;
    align-items: center;
    @include breakpoint(xl) {
        min-height: 100vh;
    }
    @include breakpoint(max-lg) {
        padding: 220px 0 150px;
    }
}
.banner__content {
    max-width: 600px;
    .banner__subtitle {
        margin-bottom: 30px;
        padding-right: 50px;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            content: "";
            background: $base-color;
            width: 40px;
            height: 3px;
            display: block;
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
            background-size: .5rem .5rem;
            border-radius: 2px;
            animation: 3s linear infinite progress-bar-stripes;
            right: 0;
            bottom: 11px;
        }
    }
    .banner__title {
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 35px;
    }
}
.banner__video {
    display: flex;
    text-decoration: none;
    margin: 0;
    align-items: center;
}
/*Hero Section*/
.hero-section {
    position: relative;
    padding: 240px 0 120px;
    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: -webkit-linear-gradient( 0deg, $title-color 0%, rgba(0,0,0,0) 120%);
    }
    @include breakpoint(max-sm) {
        padding: 190px 0 100px;
    }
}
.hero__content {
    position: relative;
    z-index: 1;
    max-width: 720px;
    padding-left: 40px;
    border-left: 3px solid $base-color;
    .hero__title {
        margin: 0;
        margin-bottom: 15px;
    }
    @include breakpoint(max-sm) {
        padding-left: 20px;
    }
}
.breadcrumb {
    li {
        font-size: 20px;
        font-family: $heading;
        a {
            text-decoration: none;
            @extend %flex;
            align-items: center;
            color: $white-color;
            &:hover {
                color: $base-color;
            }
            &::after {
                content: "";
                width: 20px;
                height: 2px;
                margin: 2px 7px 0;
                background: $base-color;
                display: inline-block;
            }
        }
        @include breakpoint(max-sm) {
            font-size: 18px;
        }
    }
}
.contact__hero__content {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}
.contact--hero {
    padding-bottom: 250px;
    &::before {
        background-image: -webkit-linear-gradient( 0deg, $title-color 0%, rgba($color:$title-color, $alpha:.6) 120%);
    }
}
.contact__form__wrapper {
    padding: 30px;
    @include border-radius(10px);
    border: 1px solid $border-color;
    max-width: 700px;
    margin: 0 auto;
    @include breakpoint(max-sm) {
        padding: 20px;
    }
    &.bg--body {
        .form--control {
            background: $section-bg;
        }
    }
}
.contact__form {
    textarea.form--control {
        height: 120px;
    }
}
.transform--top {
    position: relative;
    margin-top: -200px;
    padding-top: 0 !important;
}